i, b, u, h1, h2, h3, h4, h5,h6, sub, sup, a, p{
    font-family: 'Ubuntu', sans-serif;
}
.navbar-brand{
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 40px;
}
a{
    text-decoration: none;
}
.jumbotron{

    color: rgb(255, 255, 255);
}
.featured,p {
    margin-left: 20px;
    text-shadow: wheat;

}
.blog-post{
    margin-bottom: 30px;
}
.blog-post-title{
    font-size: 22px;
}
footer{
    background: rgb(177, 177, 177);

    padding-top: 20px;

}